<form action [formGroup]="formaddrecherche" style= "margin-left: 1000px;  background-color: #2cc718;">
  <div class="form-group">
    <label for="">RECHERCHER ICI PAR DATE</label>
    <input type="date" formControlName="datetrans" class="form-control" >
  </div>
</form>




<div class="container" style="margin-left: 270px;">

  <div class="search" style="margin-right: 500px;">
    <input class="form-control" type="text" placeholder="Search by Term..." name="search"  [(ngModel)]="rechercheUser"> 
  </div>

    <button type="button" class="btn btn-success" (click)="ongetListetransaction()">AFFICHAGE LISTE DES TRANSACTIONS</button>

    <table class="table table-dark">
      <thead>
        <tr>
          <th>ID</th>
          <th>USERENVOI</th>
          <th>MONTANT</th>
          <th>COMPTEENVOI</th>
          <th>STATU</th>
          <th>DATE</th>
          <th>PARTENVOI</th>
          <th>PARTRETRAIT</th>
          <th>USERRETRAIT</th>
         
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let trans of transactions  | filter:rechercheUser">

            <td>{{trans.id}}</td>
            <td>{{trans.userenvoi.username}}</td>
            <td>{{trans.montanttransaction}}</td>
            <td>{{trans.compteenvoi.numerocompte}}</td>
            <td>{{trans.statu}}</td>
            <td>{{trans.datetrans}}</td>
            <td>{{trans.partenvoyeur}}</td>
            <td>{{trans.partretrait}}</td>
          
            <ng-template [ngIf]="trans.statu == true">
             <div>
                <td>{{trans.compteretrait.numerocompte}}</td>
                <td>{{trans.userretrait.username}}</td>
             </div>
           </ng-template>
        </tr>
    </tbody>
    </table>
  </div>


